body {
    background-color: #45403b;
}


h1{
    background-color: #151e1e;
    color: #FF0000;
    text-align:center;
    padding: 5px;
}

h3 {
    background-color: #e6e6e6;
    color: #FF0000;
    text-align:center;
}


p{
    background-color: #8c8c8c;
}


img {
    width:85%;
    height:auto;
}

img:hover {
   width:80%;
   height:auto;
}


a:hover{
    text-decoration:underline;
}




table {
    width: 100%;
    height: 40%;
    table-layout: fixed;
}

.giFormat{
    text-align: center;
    color: #FFFFFF;
    font-size: larger;
    text-decoration:none;
    border: none;
}


.aboutMe{
    width: 62%;
    height:auto;
    float:left;
    padding:1px;
    margin:1px;
    border:1px;
}

.contact{
    width:32%;
    height:auto;
    float:right;
    padding:1px;
    margin:1px;
    border:1px;
}

.contactLink{
    color:#000000;
    text-decoration:none;
}

span{
    color:#000000;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}